In [1]:
%run  "./env_setup.py"

User:  nchitiwong
Database:  postgresql://nchitiwong:secret@ads1.datasci.vt.edu:5432/ads_db5

In [2]:
tables = [
    "bank_capital_structure",
    "bank_portfolio",
    "historical_economic_data",
    "historical_loan_losses",
    "scenario_projected_losses",
    "stress_test_scenarios",
]

for table in tables:
    print(f"Processing {table}...")

    sql = f"""
        drop table if exists {username}.{table};
    """
    agent.execute_ddl(sql)

    sql = f"""
        create table {username}.{table} as select * from dw1.{table};
    """
    agent.execute_ddl(sql)

Processing bank_capital_structure...
Processing bank_portfolio...
Processing historical_economic_data...
Processing historical_loan_losses...
Processing scenario_projected_losses...
Processing stress_test_scenarios...